<ion-view view-title="Artists">
  <ion-content>
  	<div class="list">
  		<a ng-repeat="artist in artists" class="item" href="#/app/songsPlaylist/{{artist.a_id}}">
  			{{artist.a_name}}
  		</a>
  	</div>
  </ion-content>
</ion-view>
