<ion-view view-title="Playlists">
  <ion-content>
  	<div class="list">
  		<a ng-repeat="playlist in playlists" class="item" href="#/app/songsPlaylist/{{playlist.s_id}}">
  			{{playlist.s_name}}
  		</a>
  	</div>
  </ion-content>
</ion-view>
