<ion-view view-title="Songs">
  <ion-content>
  	<div class="list">
  		<a ng-repeat="song in songs" class="item" ng-click="redirectToSong(song.s_id,$index)" menu-close>
  			{{song.s_name}}
  		</a>
  	</div>
  </ion-content>
</ion-view>
